/*
  #fff2c9; -orange
  #32759b; -blue
  #14140c; -black
  #f82a37; -red
  #906523; -brown
*/

* {box-sizing: border-box;}

body {
  padding: 0;
  margin: 0;
  color: #14140c;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: "Open Sans";
}

a {text-decoration: none; color: #906523;}
a:hover {text-decoration: underline; }

li.active a{color:#32759b;}
li.active a:hover{text-decoration:none;}

@media screen and (max-width: 35.5em){ .pure-u-0 { display:none;} }

.header {
  color:#fff2c9;
  background-color:#32759b;
}

.links{ list-style-type:none;padding-left:0;}
.links li {padding:1em 0;}

.pure-g {
  max-width:1200px;
  margin:0 auto;
  text-align:center;
}

.content {
  max-width: 1000px;
  margin:0 auto;
}
.content > .pure-g > div {
  box-sizing: border-box;
  padding: 1em 0;
}

.contact{
  margin:2em 0;
}